# Virtual Environment
venv/

# PyCharm
.idea/

# Python Cache
__pycache__/
*.pyc

# YOLO Training Outputs
runs/

# Datasets
dataset/
football dataset/
original_labels/

# Model Weights
*.pt
*.pth

# Logs
*.log

# Environment Variables
.env

# Windows
Thumbs.db
